header img {
  width: 100px;
}
body {
  background-color: rgb(20, 20, 20);
}

header {
  color: rgb(140, 140, 140);
}

.active {
  color: black !important;
  font-weight: 700;
  background-color: rgb(230, 230, 230) !important;
}

.container {
  margin: 30px;
}
.genre {
  display: flex;
}

.blank {
  flex-grow: 1;
}

.navbar-nav {
  flex-grow: 1;
}
.navbar-toggler {
  background-color: white !important;
}
.kids img {
  width: 40px;
}
.card {
  --bs-card-border-color: !important;
  --bs-card-border-radius: 0 !important;
}

.widthChange {
  width: 50%;
}
.icons i {
  font-size: 2em;
  margin-right: 18px;
  color: darkgray;
}
.dropdown-toggle::after {
  margin-left: 10px;
}

.profileBox {
  padding-left: 70px;
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

#first {
  width: 220%;
  color: white;
}
.others {
  width: 87%;
  color: white;
}
.second {
  width: 87%;
  color: white;
}

#avatar {
  width: 100px;
}

input {
  background-color: #666666;
}
.btn-primary {
  background-color: #141414 !important;
}

.form-check-input:checked {
  background-color: #141414 !important;
  border-color: #666666 !important;
}

.fontChange {
  font-size: 13px;
}
.btn {
  --bs-btn-border-radius: 0 !important;
}
#btn-3 {
  margin-left: 20px;
  width: 280px;
}

@media (max-width: 1024px) {
  .widthChange {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .others {
    margin-left: -60px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .second {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .profileBox {
    padding-left: 55px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  #btn-3 {
    width: 0px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  #first {
    width: 90%;
  }
}
