header img {
  width: 100px;
}
body {
  background-color: rgb(20, 20, 20);
}

header {
  color: rgb(140, 140, 140);
}

.active {
  color: rgb(230, 230, 230);
}

.container {
  margin: 30px;
}
.genre {
  display: flex;
}

.card {
  --bs-card-border-color: !important;
  --bs-card-border-radius: 0 !important;
}

.dropdown-toggle::after {
  margin-left: 10px;
}

.profileBox {
  padding-left: 70px;
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

#first {
  width: 220%;
  color: white;
}
.others {
  width: 87%;
  color: white;
}

#avatar {
  width: 100px;
}

input {
  background-color: #666666;
}
.btn-primary {
  background-color: #141414 !important;
}

.form-check-input:checked {
  background-color: #141414 !important;
  border-color: #666666 !important;
}

.btn {
  --bs-btn-border-radius: 0 !important;
}
